adf-bfridley/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-bfridley"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"InputAzureBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'InputAzureBlob'"
		},
		"OutputAzureSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OutputAzureSQL'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CSVtoParquetPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy CSV file to Parquet format ",
				"activities": [
					{
						"name": "CSVtoParquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Race_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Race_Date",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Track",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Track",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Race_No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Race_No",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "C",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Horse_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Horse_Name",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "YOB",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YOB",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Foaling_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Foaling_Date",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Foaling_Area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Foaling_Area",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "COR_Long",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COR_Long",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Official_Indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Official_Indicator",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RT_7",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RT_7",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Age_Restriction",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Age_Restriction",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Sex_Restriction",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sex_Restriction",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "C_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "C_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "R_d",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R_d",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVDelimited",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetDestination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSVDelimited')]",
				"[concat(variables('factoryId'), '/datasets/ParquetDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDelimitedFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FindDelimiter",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DynamicColumnDelimiter",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceUnknownType": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FindDelimiter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "delimiter.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "FoundDelimiter",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"PipelineVariable": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DynamicColumnDelimiter')]",
				"[concat(variables('factoryId'), '/datasets/FoundDelimiter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromBlobToSqlPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_e24",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "data//inputEmp.txt"
							},
							{
								"name": "Destination",
								"value": "dbo.emp"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_e24",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_e24",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Script1",
						"description": "delete from dbo.emp",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "delete from dbo.emp"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T20:05:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_e24')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_e24')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyRaceCSVToSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "RF2021 CSV to SQL Database from Blob Storage",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVParameter",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "Stallion.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLParameter",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "stallion"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T21:10:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSVParameter')]",
				"[concat(variables('factoryId'), '/datasets/SQLParameter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParameterizeCopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromCSVtoSQL",
						"description": "Use parameterized Linked Services to copy from CSV to ",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVParameter",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@concat(pipeline().parameters.source,'.csv')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLParameter",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "@pipeline().parameters.destination",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"source": {
						"type": "string"
					},
					"destination": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSVParameter')]",
				"[concat(variables('factoryId'), '/datasets/SQLParameter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaitPipelne')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVDelimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "RaceSampleCSV-Spaces.csv",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Race Date",
						"type": "String"
					},
					{
						"name": "Race Track Name",
						"type": "String"
					},
					{
						"name": "Race Number",
						"type": "String"
					},
					{
						"name": "C",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Horse Name",
						"type": "String"
					},
					{
						"name": "YOB",
						"type": "String"
					},
					{
						"name": "Foaling Date",
						"type": "String"
					},
					{
						"name": "Foaling Area",
						"type": "String"
					},
					{
						"name": "COR Long",
						"type": "String"
					},
					{
						"name": "Official Indicator",
						"type": "String"
					},
					{
						"name": "RT 7",
						"type": "String"
					},
					{
						"name": "Age Restriction",
						"type": "String"
					},
					{
						"name": "Sex Restriction",
						"type": "String"
					},
					{
						"name": "C ID",
						"type": "String"
					},
					{
						"name": "R d",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVParameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "InputAzureBlob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "StallionName",
						"type": "String"
					},
					{
						"name": "StallionYOB",
						"type": "String"
					},
					{
						"name": "StallionSire",
						"type": "String"
					},
					{
						"name": "StallionDam",
						"type": "String"
					},
					{
						"name": "StallionDamSire",
						"type": "String"
					},
					{
						"name": "Stallion1stStudYear",
						"type": "String"
					},
					{
						"name": "Stallion1stFoalYear",
						"type": "String"
					},
					{
						"name": "StallionRegion",
						"type": "String"
					},
					{
						"name": "StallionInitialLocation",
						"type": "String"
					},
					{
						"name": "StallionCurrentLocation",
						"type": "String"
					},
					{
						"name": "StallionFarm",
						"type": "String"
					},
					{
						"name": "StallionFAM",
						"type": "String"
					},
					{
						"name": "StallionFDM",
						"type": "String"
					},
					{
						"name": "StallionFee2011",
						"type": "String"
					},
					{
						"name": "StallionFee2012",
						"type": "String"
					},
					{
						"name": "StallionFee2013",
						"type": "String"
					},
					{
						"name": "StallionFee2014",
						"type": "String"
					},
					{
						"name": "StallionFee2015",
						"type": "String"
					},
					{
						"name": "StallionFee2016",
						"type": "String"
					},
					{
						"name": "StallionFee2017",
						"type": "String"
					},
					{
						"name": "StallionFee2018",
						"type": "String"
					},
					{
						"name": "StallionFee2019",
						"type": "String"
					},
					{
						"name": "StallionFee2020",
						"type": "String"
					},
					{
						"name": "StallionFee2021",
						"type": "String"
					},
					{
						"name": "StallionFee2022",
						"type": "String"
					},
					{
						"name": "StallionFee2023",
						"type": "String"
					},
					{
						"name": "StallionFee2024",
						"type": "String"
					},
					{
						"name": "StallionFee2025",
						"type": "String"
					},
					{
						"name": "StallionFee2026",
						"type": "String"
					},
					{
						"name": "StallionFee2027",
						"type": "String"
					},
					{
						"name": "StallionFee2028",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/InputAzureBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_e24')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FirstName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "LastName",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "emp"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FoundDelimiter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputDelimiterParameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "RaceSamplePipe.txt",
						"container": "data"
					},
					"columnDelimiter": {
						"value": "@dataset().Delimiter",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputTextUnknownDelimiter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "RaceSamplePipe.txt",
						"container": "data"
					},
					"columnDelimiter": "",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Output",
						"container": "data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Race_Date",
						"type": "UTF8"
					},
					{
						"name": "Track",
						"type": "UTF8"
					},
					{
						"name": "Race_No",
						"type": "UTF8"
					},
					{
						"name": "C",
						"type": "UTF8"
					},
					{
						"name": "Country",
						"type": "UTF8"
					},
					{
						"name": "Horse_Name",
						"type": "UTF8"
					},
					{
						"name": "YOB",
						"type": "UTF8"
					},
					{
						"name": "Foaling_Date",
						"type": "UTF8"
					},
					{
						"name": "Foaling_Area",
						"type": "UTF8"
					},
					{
						"name": "COR_Long",
						"type": "UTF8"
					},
					{
						"name": "Official_Indicator",
						"type": "UTF8"
					},
					{
						"name": "RT_7",
						"type": "UTF8"
					},
					{
						"name": "Age_Restriction",
						"type": "UTF8"
					},
					{
						"name": "Sex_Restriction",
						"type": "UTF8"
					},
					{
						"name": "C_ID",
						"type": "UTF8"
					},
					{
						"name": "R_d",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetDestination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Output",
						"container": "data"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PipeDelimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "RaceSamplePipe.txt",
						"container": "data"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RF2021')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "RF2021 Race Data CSV",
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "RF2021.csv",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Race_Date",
						"type": "String"
					},
					{
						"name": "Track",
						"type": "String"
					},
					{
						"name": "Race_Num",
						"type": "String"
					},
					{
						"name": "C",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Horse",
						"type": "String"
					},
					{
						"name": "YOB",
						"type": "String"
					},
					{
						"name": "Foaling_Date",
						"type": "String"
					},
					{
						"name": "Foaling_Area",
						"type": "String"
					},
					{
						"name": "COR_Long",
						"type": "String"
					},
					{
						"name": "Official_Indicator",
						"type": "String"
					},
					{
						"name": "RT_7",
						"type": "String"
					},
					{
						"name": "Age_Restriction",
						"type": "String"
					},
					{
						"name": "Sex_Restriction",
						"type": "String"
					},
					{
						"name": "C_ID",
						"type": "String"
					},
					{
						"name": "R_a",
						"type": "String"
					},
					{
						"name": "R_d",
						"type": "String"
					},
					{
						"name": "R_s",
						"type": "String"
					},
					{
						"name": "Statebred",
						"type": "String"
					},
					{
						"name": "Off_Turf_Indicator",
						"type": "String"
					},
					{
						"name": "Purse_USA",
						"type": "String"
					},
					{
						"name": "TC",
						"type": "String"
					},
					{
						"name": "Division",
						"type": "String"
					},
					{
						"name": "Grade",
						"type": "String"
					},
					{
						"name": "Starters",
						"type": "String"
					},
					{
						"name": "Max_Claim_Price",
						"type": "String"
					},
					{
						"name": "Race_Name",
						"type": "String"
					},
					{
						"name": "Temporary_Rail_Distance",
						"type": "String"
					},
					{
						"name": "Chute_Start",
						"type": "String"
					},
					{
						"name": "Track_Sealed_Indicator",
						"type": "String"
					},
					{
						"name": "Run_Up_Distance",
						"type": "String"
					},
					{
						"name": "F1",
						"type": "String"
					},
					{
						"name": "F2",
						"type": "String"
					},
					{
						"name": "F3",
						"type": "String"
					},
					{
						"name": "F4",
						"type": "String"
					},
					{
						"name": "F5",
						"type": "String"
					},
					{
						"name": "RST",
						"type": "String"
					},
					{
						"name": "RWT",
						"type": "String"
					},
					{
						"name": "Pace_Rating_1",
						"type": "String"
					},
					{
						"name": "Pace_Rating_2",
						"type": "String"
					},
					{
						"name": "Pace_Rating_3",
						"type": "String"
					},
					{
						"name": "Pace_Rating_4",
						"type": "String"
					},
					{
						"name": "Pace_Rating_5",
						"type": "String"
					},
					{
						"name": "Pace_Rating_Stretch",
						"type": "String"
					},
					{
						"name": "Race_Csr",
						"type": "String"
					},
					{
						"name": "Daily_variant",
						"type": "String"
					},
					{
						"name": "Age",
						"type": "String"
					},
					{
						"name": "Sex",
						"type": "String"
					},
					{
						"name": "Earnings_USA",
						"type": "String"
					},
					{
						"name": "Odds",
						"type": "String"
					},
					{
						"name": "Favorite_Indicator",
						"type": "String"
					},
					{
						"name": "Medication",
						"type": "String"
					},
					{
						"name": "Equipment",
						"type": "String"
					},
					{
						"name": "Weight_Carried",
						"type": "String"
					},
					{
						"name": "Pgm_.",
						"type": "String"
					},
					{
						"name": "PP",
						"type": "String"
					},
					{
						"name": "C1P",
						"type": "String"
					},
					{
						"name": "C2P",
						"type": "String"
					},
					{
						"name": "C3P",
						"type": "String"
					},
					{
						"name": "C4P",
						"type": "String"
					},
					{
						"name": "SP",
						"type": "String"
					},
					{
						"name": "FP",
						"type": "String"
					},
					{
						"name": "FP_Ofl",
						"type": "String"
					},
					{
						"name": "DH_Indicator",
						"type": "String"
					},
					{
						"name": "C1BL",
						"type": "String"
					},
					{
						"name": "C2BL",
						"type": "String"
					},
					{
						"name": "C3BL",
						"type": "String"
					},
					{
						"name": "C4BL",
						"type": "String"
					},
					{
						"name": "SBL",
						"type": "String"
					},
					{
						"name": "FBL",
						"type": "String"
					},
					{
						"name": "Claimed_Price_USA",
						"type": "String"
					},
					{
						"name": "Claim_Indicator",
						"type": "String"
					},
					{
						"name": "Coupled_Type",
						"type": "String"
					},
					{
						"name": "Jockey_F_Name",
						"type": "String"
					},
					{
						"name": "Jockey_M_Name",
						"type": "String"
					},
					{
						"name": "Jockey_L_Name",
						"type": "String"
					},
					{
						"name": "Trainer_F_Name",
						"type": "String"
					},
					{
						"name": "Trainer_M_Name",
						"type": "String"
					},
					{
						"name": "Trainer_L_Name",
						"type": "String"
					},
					{
						"name": "Owner_Full_Name",
						"type": "String"
					},
					{
						"name": "Trouble_Indicator",
						"type": "String"
					},
					{
						"name": "Nonbetting_Indicator",
						"type": "String"
					},
					{
						"name": "Scratch_Indicator",
						"type": "String"
					},
					{
						"name": "Scratch_Reason",
						"type": "String"
					},
					{
						"name": "Short_Comment",
						"type": "String"
					},
					{
						"name": "F1T",
						"type": "String"
					},
					{
						"name": "F2T",
						"type": "String"
					},
					{
						"name": "F3T",
						"type": "String"
					},
					{
						"name": "F4T",
						"type": "String"
					},
					{
						"name": "F5T",
						"type": "String"
					},
					{
						"name": "HST",
						"type": "String"
					},
					{
						"name": "SFR",
						"type": "String"
					},
					{
						"name": "LFR",
						"type": "String"
					},
					{
						"name": "HFT",
						"type": "String"
					},
					{
						"name": "R_.",
						"type": "String"
					},
					{
						"name": "RS_Actual",
						"type": "String"
					},
					{
						"name": "RS",
						"type": "String"
					},
					{
						"name": "Rs_Type",
						"type": "String"
					},
					{
						"name": "Pos",
						"type": "String"
					},
					{
						"name": "DSLR",
						"type": "String"
					},
					{
						"name": "Pr1",
						"type": "String"
					},
					{
						"name": "Pr2",
						"type": "String"
					},
					{
						"name": "Pr3",
						"type": "String"
					},
					{
						"name": "Pr4",
						"type": "String"
					},
					{
						"name": "Pr5",
						"type": "String"
					},
					{
						"name": "PrS",
						"type": "String"
					},
					{
						"name": "PrL",
						"type": "String"
					},
					{
						"name": "H_Csr",
						"type": "String"
					},
					{
						"name": "Dam",
						"type": "String"
					},
					{
						"name": "DamDam",
						"type": "String"
					},
					{
						"name": "DamSire",
						"type": "String"
					},
					{
						"name": "Sire",
						"type": "String"
					},
					{
						"name": "SireDam",
						"type": "String"
					},
					{
						"name": "SireSire",
						"type": "String"
					},
					{
						"name": "Dam_YOB",
						"type": "String"
					},
					{
						"name": "DamDam_YOB",
						"type": "String"
					},
					{
						"name": "DamSire_YOB",
						"type": "String"
					},
					{
						"name": "Sire_YOB",
						"type": "String"
					},
					{
						"name": "SireDam_YOB",
						"type": "String"
					},
					{
						"name": "SireSire_YOB",
						"type": "String"
					},
					{
						"name": "Post_Time_ET",
						"type": "String"
					},
					{
						"name": "race_quality_type",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLParameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OutputAzureSQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "sandbox",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OutputAzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLRF2021')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "race"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_e24')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inputEmp.txt",
						"container": "data"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputAzureBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('InputAzureBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputAzureSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('OutputAzureSQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicColumnDelimiter')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "InputTextUnknownDelimiter",
								"type": "DatasetReference"
							},
							"name": "SourceUnknownType"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FoundDelimiter",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "SourceWithRowNum"
						},
						{
							"name": "HeaderRow"
						},
						{
							"name": "RowWithDelimiter"
						}
					],
					"scriptLines": [
						"source(output(",
						"          RowString as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceUnknownType",
						"SourceUnknownType keyGenerate(output(RowNum as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> SourceWithRowNum",
						"SourceWithRowNum filter(RowNum == 1) ~> HeaderRow",
						"HeaderRow derive(Delimiter = toString(regexExtract(RowString,'([!$`~%^,|\\t])',1))) ~> RowWithDelimiter",
						"RowWithDelimiter sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string,",
						"          Column_6 as string,",
						"          Column_7 as string,",
						"          Column_8 as string,",
						"          Column_9 as string,",
						"          Column_10 as string,",
						"          Column_11 as string,",
						"          Column_12 as string,",
						"          Column_13 as string,",
						"          Column_14 as string,",
						"          Column_15 as string,",
						"          Column_16 as string,",
						"          Column_17 as string,",
						"          Column_18 as string,",
						"          Column_19 as string,",
						"          Column_20 as string,",
						"          Column_21 as string,",
						"          Column_22 as string,",
						"          Column_23 as string,",
						"          Column_24 as string,",
						"          Column_25 as string,",
						"          Column_26 as string,",
						"          Column_27 as string,",
						"          Column_28 as string,",
						"          Column_29 as string,",
						"          Column_30 as string,",
						"          Column_31 as string,",
						"          Column_32 as string,",
						"          Column_33 as string,",
						"          Column_34 as string,",
						"          Column_35 as string,",
						"          Column_36 as string,",
						"          Column_37 as string,",
						"          Column_38 as string,",
						"          Column_39 as string,",
						"          Column_40 as string,",
						"          Column_41 as string,",
						"          Column_42 as string,",
						"          Column_43 as string,",
						"          Column_44 as string,",
						"          Column_45 as string,",
						"          Column_46 as string,",
						"          Column_47 as string,",
						"          Column_48 as string,",
						"          Column_49 as string,",
						"          Column_50 as string,",
						"          Column_51 as string,",
						"          Column_52 as string,",
						"          Column_53 as string,",
						"          Column_54 as string,",
						"          Column_55 as string,",
						"          Column_56 as string,",
						"          Column_57 as string,",
						"          Column_58 as string,",
						"          Column_59 as string,",
						"          Column_60 as string,",
						"          Column_61 as string,",
						"          Column_62 as string,",
						"          Column_63 as string,",
						"          Column_64 as string,",
						"          Column_65 as string,",
						"          Column_66 as string,",
						"          Column_67 as string,",
						"          Column_68 as string,",
						"          Column_69 as string,",
						"          Column_70 as string,",
						"          Column_71 as string,",
						"          Column_72 as string,",
						"          Column_73 as string,",
						"          Column_74 as string,",
						"          Column_75 as string,",
						"          Column_76 as string,",
						"          Column_77 as string,",
						"          Column_78 as string,",
						"          Column_79 as string,",
						"          Column_80 as string,",
						"          Column_81 as string,",
						"          Column_82 as string,",
						"          Column_83 as string,",
						"          Column_84 as string,",
						"          Column_85 as string,",
						"          Column_86 as string,",
						"          Column_87 as string,",
						"          Column_88 as string,",
						"          Column_89 as string,",
						"          Column_90 as string,",
						"          Column_91 as string,",
						"          Column_92 as string,",
						"          Column_93 as string,",
						"          Column_94 as string,",
						"          Column_95 as string,",
						"          Column_96 as string,",
						"          Column_97 as string,",
						"          Column_98 as string,",
						"          Column_99 as string,",
						"          Column_100 as string,",
						"          Column_101 as string,",
						"          Column_102 as string,",
						"          Column_103 as string,",
						"          Column_104 as string,",
						"          Column_105 as string,",
						"          Column_106 as string,",
						"          Column_107 as string,",
						"          Column_108 as string,",
						"          Column_109 as string,",
						"          Column_110 as string,",
						"          Column_111 as string,",
						"          Column_112 as string,",
						"          Column_113 as string,",
						"          Column_114 as string,",
						"          Column_115 as string,",
						"          Column_116 as string,",
						"          Column_117 as string,",
						"          Column_118 as string,",
						"          Column_119 as string,",
						"          Column_120 as string,",
						"          Column_121 as string,",
						"          Column_122 as string",
						"     ),",
						"     partitionFileNames:['delimiter.txt'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     quoteAll: true,",
						"     mapColumn(",
						"          Delimiter",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputTextUnknownDelimiter')]",
				"[concat(variables('factoryId'), '/datasets/FoundDelimiter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RemoveColumnSpaces')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Replace any space\n    regexReplace($$,' ','_')\n\nReplace any non-letter \n    regexReplace($$,'[^a-zA-Z]','_')",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSVDelimited",
								"type": "DatasetReference"
							},
							"name": "SourceCSV",
							"description": "CSV Source file with Space in Column Name"
						}
					],
					"sinks": [
						{
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "RemoveColumnNameSpaces"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Race Date} as string,",
						"          {Race Track Name} as string,",
						"          {Race Number} as string,",
						"          C as string,",
						"          Country as string,",
						"          {Horse Name} as string,",
						"          YOB as string,",
						"          {Foaling Date} as string,",
						"          {Foaling Area} as string,",
						"          {COR Long} as string,",
						"          {Official Indicator} as string,",
						"          {RT 7} as string,",
						"          {Age Restriction} as string,",
						"          {Sex Restriction} as string,",
						"          {C ID} as string,",
						"          {R d} as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceCSV",
						"SourceCSV select(mapColumn(",
						"          each(match(true()),",
						"               regexReplace($$,' ','_') = $$)",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RemoveColumnNameSpaces",
						"RemoveColumnNameSpaces sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: false,",
						"     saveOrder: 1) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSVDelimited')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "InputDelimiterParameter",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     container: 'data',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputDelimiterParameter')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/powerquery1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "CSVDelimited",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> CSVDelimited",
							"dataset": {
								"referenceName": "CSVDelimited",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared CSVDelimited = let AdfDoc = AzureStorage.BlobContents(\"https://storageaccountbfridley.blob.core.windows.net/data/RaceSampleCSV-Spaces.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"CSVDelimited\",\r\n  #\"Sorted rows\" = Table.Sort(Source, {{\"Race Track Name\", Order.Ascending}}),\r\n  #\"Filtered rows\" = Table.SelectRows(#\"Sorted rows\", each [Race Track Name] = \"BEL\") in #\"Filtered rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CSVDelimited')]"
			]
		}
	]
}